@import '~antd/dist/antd.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.5;
  color: #24292e;
  background-color: #eff9fc;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


code {
  background: #eee;
  padding: .1rem;
  font-family: 'Menlo';
  font-size: 13px;
  color: #ff00aa;
}

* {
  box-sizing: border-box;
}


.app {
  margin: 2rem;
}

a {
  color: #08c;
}

.major-heading-center {
  color: #111; 
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 45px; 
  font-weight: bold; 
  letter-spacing: -1px; 
  line-height: 1; 
  text-align: center;
}

.minor-heading-center {
  color: #111; 
  font-family: 'Open Sans', sans-serif; 
  font-size: 20px; 
  font-weight: 300; 
  line-height: 32px; 
  margin: 0 0 20px; 
  text-align: center;
}

.minor-heading-2 {
  color: floralwhite; 
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 40px; 
  font-weight: bold; 
  letter-spacing: -1px; 
  line-height: 1; 
  text-align: left;
}

.minor-heading-3 {
  color: black; 
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 20px; 
  font-weight: bold; 
  letter-spacing: -1px; 
  line-height: 1; 
  text-align: center;
}

.major-heading-2 {
  text-align: center;
  margin: 1em 0 0.5em 0;
	color: #343434;
	font-weight: normal;
	font-family: 'Ultra', sans-serif;   
	font-size: 40px;
	line-height: 46px;
	text-transform: uppercase;
	text-shadow: 0 2px white, 0 3px #777;
}

.input-area-1 {
  padding: .5rem;
  font-size: 16px;
  width: 100%;
  display: block;
  border-radius: 4px;
  border: 1px solid black;
  margin-bottom: 5px;
}

.input-area-1:focus {
  border-color: orange;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075),
    0 0 0 3px rgba(0, 126, 255, 0.1);
  outline: none;
}

.input-area-1.error {
  color: red;
  border-color: red;
}


.input-area-2 {
  padding: .5rem;
  font-size: 16px;
  width: 80%;
  display: block;
  border-radius: 4px;
  border: 1px solid black;
  margin-bottom: 5px;
}

.input-area-2:focus {
  border-color: orange;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075),
    0 0 0 3px rgba(0, 126, 255, 0.1);
  outline: none;
}

.input-area-2.error {
  border-color: red;
}

.select-area-1 {
  padding: .5rem;
  font-size: 16px;
  width: 100%;
  display: block;
  border-radius: 4px;
  border: 1px solid black;
  margin-bottom: 5px;
}


.label-normal {
  font-weight: bold;
  display: block;
  margin-bottom: .5rem;
  color: black;
}

.button-basic {
  width: 100%;
  margin: 20px 0;
  padding: 12px 20px;
  border-style: 1;
  border-radius: 5px;
  background-color: #05386B;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  font-size: 17px;
  font-weight: 500;
  color: white;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
}

.button-basic:disabled {
  opacity: .5;
  cursor: not-allowed !important;
}

button + button {
  margin-left: .5rem;
}

.button-basic.outline {
  background-color: #eee;
  border: 1px solid #aaa;
  color: #555;
}

.needbg {
  background-image: url('./common/images/signin.svg');
}


.app-content {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 70px);
}

.grid-container-home {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 60px 120px 60px 120px;
  grid-column-gap: 120px;
  grid-row-gap: 60px;
}

.grid-item-home {
  border: 0px solid rgba(0, 0, 0, 0.8);
  border-radius: 2px;
  font-size: 20px;
  text-align: center;
  height: 250px;
  cursor: pointer;
  text-decoration: underline;
  color: #1f396b;
  font-style: unset;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid-item-home:hover {
  box-shadow: 0 12px 20px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


.grid-container-search {
  width: 100%;
  display: grid;
  grid-template-columns: 5fr 3fr 3fr 1fr 1fr;
  padding: 1% 2% 1% 2%;
  grid-column-gap: 4%;
  grid-row-gap: 10px;
}

.grid-item-search {
  font-size: 18px;
  text-align: center;
}

/*.grid-item-search:hover {
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.24), 0 4px 8px 0 rgba(0,0,0,0.19);
}*/

.button-search {
  width: 100%;
  border-radius: 10px;
  color: white;
  background-color: #252540;
}

.major-upper-tabs {
  width: 100%;
}

.major-tabs {
  font-size: 23px;
  width: 180px;
  text-align: center;
}

.grid-container-datasearch-2 {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  padding: 40px 80px 40px 80px;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
}

.grid-item-datasearch-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  text-align: center;
  height: 150px;
  color: #1f396b;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.grid-item-datasearch-2:hover {
  box-shadow: 0 12px 20px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.search-data-heading {
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.search-data-data {
  color: white;
  font-size: 25px;
}


.outer-form-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inner-form-box {
  width: 60%;
  margin-top: 100px;
  background: #8EE4AF; 
  flex: 1; 
  padding: 40px; 
  border-radius: 20px;
  border: 2px solid black;
}

.predict-base {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-predict {
  width: 70%;
  border-radius: 4px;
  font-size: 20px;
  text-align: center;
  color: #1f396b;
  font-style: unset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #eff9fc;
  box-shadow: 4px -4px 4px 0 rgba(8, 179, 228, 0.3);
  border: 1px solid #c7c7c7;
}

.main-predict:hover {
  box-shadow: 6px -6px 6px 0 rgba(8, 179, 228, 0.3);
}

.upper-main-predict{
  color: #222222; 
  font-family: 'Raleway',sans-serif; 
  font-size: 30px; 
  font-weight: 500; 
  line-height: 36px; 
  margin: 24px 0 24px; 
  text-align: center;
}

.lower-main-predict {
  color: #222222; 
  font-family: 'Raleway',sans-serif; 
  font-size: 30px; 
  font-weight: 500; 
  line-height: 36px; 
  margin: 24px 0 24px; 
  text-align: center;
}

.chart-box {
  margin: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ant-tabs-tabpane {
  margin-left: 0px !important;
}

.wishlist-grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(400px, 1fr) );
  padding: 20px 40px 20px 40px;
  margin: auto;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}

.wishlist-grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  text-align: center;
} 

.wish-card {
  width: 100%;
  padding: 0px;
  background-color: #eff9fc;
  box-shadow: 4px -4px 4px 0 rgba(8, 179, 228, 0.3);
  max-width: 440px;
  border: 1px solid #c7c7c7;
  transition: box-shadow 0.6s linear;
}

.wish-card:hover {
  box-shadow: 4px -4px 4px 0 rgba(8, 179, 228, 1);
}

.productname {
  padding: 5px 10px;
  overflow: hidden;
  font-family: 'Raleway',sans-serif; 
  color: #05386B;
  font-size: 15px; 
  text-align: center;
}

.wishlist-button {
  width: 33.33%;
  margin: 0px;
  border-radius:0px;
  background-color: #08b3e4;
  border-color: #eff9fc;
  border-top: 0px;
  border-bottom: 0px;
  transition: background-color 0.6s linear;
}

.wishlist-button:hover {
  background-color: #14589c;
  border-color: #eff9fc;
  font-weight: 600;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #eff9fc !important; 
  font-weight: 700;
}

.ant-tabs-ink-bar {
  position: absolute;
  background: #05386B;
  pointer-events: none;
}

.button-LOGOUT {
  margin-right: 25px;
  color: #eff9fc !important; 
  font-weight: 700;
  background-color: #05386B !important;
}

.ant-tabs-nav {
  background-color: #08b3e4ff !important;
}
.ant-tabs-tab:hover {
  color: #eff9fc !important;
}
.ant-tabs-tab:active {
  color: #eff9fc !important;
}

.add-product {
  width: 100%;
  padding: 30px 60px;
}

.add-product-grid-1 {
  width: 900px;
  display: grid;
  grid-template-columns: 20fr 4fr;
  margin: 20px 0px 15px 0px;
}

.add-product-input {
  background-color: #eff9fc;
  box-shadow: -4px 4px 4px 0 rgba(8, 179, 228, 0.3);
  padding: .45rem;
  font-size: 15px;
  width: 100%;
  display: block;
  border-radius: 8px 0px 0px 8px;
  border: 1px solid #c7c7c7;
}

.add-product-input:focus {
  box-shadow: -6px 6px 6px 0 rgba(8, 179, 228, 0.3);
  outline: none;
}

.button-add-product {
  color: #eff9fc !important; 
  padding: .5rem !important;
  font-size: 15px !important;
  font-weight: 700;
  background-color: #08b3e4;
  border: 0px !important;
  border-radius: 0px 10px 10px 0px !important;
  cursor: pointer !important;
  transition: background-color 0.6s linear;
}

.button-add-product:hover {
  background-color: #14589c;
  border-color: #eff9fc;
}

.button-goto-wishlist {
  color: #EDF5E1 !important; 
  padding: .2rem .45rem !important;
  font-size: 15px !important;
  font-weight: 700;
  background-color: #05386B !important;
  border-radius: 10px 10px 10px 10px !important;
}

.add-product-header {
  width: 900px;
  font-size: 30px;
  font-weight: 700;
  color: #05386B;
}

.add-product-subheader {
  width: 900px;
  font-size: 25px;
  font-weight: 700;
  color: #05386B;
}

.add-product-main {
  width: 900px;
  font-size: 20px;
  font-weight: 500;
  color: #05386B;
}

.website-icon {
  height: 80px;
  width: 80px;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(8, 179, 228, 0.2), 0 3px 10px 0 rgba(8, 179, 228, 0.2);
  margin: 10px;
}

.website-icon:hover {
  box-shadow: 0 6px 10px 0 rgba(8, 179, 228, 0.2), 0 8px 20px 0 rgba(8, 179, 228, 0.2);
}

.studbutton {
  padding: 10px 20px;
  background: none;
  border: none;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
}
.studbutton:after, .studbutton:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 2px solid #05386B;
  transition: transform 0.2s;
}
.studbutton:after {
  transform: translate(3px, 3px);
}
.studbutton:before {
  transform: translate(-3px, -3px);
}
.studbutton:hover:after, .studbutton:hover:before {
  transform: translate(0);
}